    p {
        color: red;
        text-align: center;
    }

    #para1 {
        font-size: 40px;
    }

    .seleccionado {
        color:green;
        font-size: 30px;
        text-align: center;
        width: 100%;
        opacity: 0.5;
    }

    .titulo {
        font-size: 100px;
    }

    h1,p {
        background-color: cyan;
    }

    div > p {
        background-color: yellow;
        border: 10px solid purple;
        margin-bottom: 300px;
    }

    p ~ ul {
        background-color: black;
        color: white;
    }
    
    /* unvisited link */
    a:link {
        color: #fff;
        background-color: #870187;
        padding: 10px;
        text-decoration: none;
    }
    /* visited link */
    a:visited {
        color: #fff;
    }
    /* mouse over link */
    a:hover {
        background-color: #FF00FF;
        font-size: 20px;
    }
    /* selected link */
    a:active {
        color: #0000FF;
    }
